* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 10px;
  }
  
  header {
    display: flex;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 13px;
  }
  
  .logo{
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 57px;
    margin-left: 53px;
  }

  
  .text h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    color: #FFFFFF;
  }

  .search0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 476px;
    height: 50px;
  }

  
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    outline: none;
    border: none;
  }
  

  
  .search::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;

    line-height: 30px;
    display: flex;
    align-items: center;
  }
  

  .notification{
    width: 37px;
    height: 41.03px;
    margin-right: 200px;

  }
  
  .user {
    margin-right: 25px;
  }
  

  button{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    display: flex;
}

section{
    height: 100vh;
    padding: 25px 0 25px 0;
}



.left{
    padding: 25px 0 25px 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 63px; */
}


.nav_section{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    margin-top: 90px;
}
.dashboard_btn{    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 29px;
    font-weight: 400;
    font-size: 25px;
    gap: 17px;
    width: 253px;
    height: 65px;
    background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
    border-radius: 17px;
}



.nav_li{
    display: flex;
    gap: 30px;
    padding: 0 25px;
    flex-direction: column;
    
}
.li_nav{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    gap: 17px;
    /* justify-content: flex-start; */
    color: rgba(255, 255, 255, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
}


.logout{
    padding: 0 35px;
    font-weight: 400;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 350px;
    gap: 17px;  
    /* margin-left: 63px; */
 

}



main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "nav_li center sidebar";
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 22px;
    margin-top: 55px;
  }
  

  .balance {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-left: 55px;
  }
  
  .total-balance {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.8;
  }
  
  .amount-Btc{
    display: flex;
    gap: 20px;
  }
  
  .amount {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    color: #FFFFFF;
  }
  
   .btn-btc{
    width: 49px;
    height: 25px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #1E1E1E;
    padding: 4px 8px;
    background: #FAFF00;
    border-radius: 8px;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .amount2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.7;
  }
  
 .container {
    display: flex;
    gap: 32px;
    width: 438px;
    height: 62px;
    padding: 10px;
    background: #292727;
    border-radius: 17px;
    margin-top: -150px;
    margin-left: 150px;
    /* align-items: center; */
  }
  
  .container a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background: #0D0C0C;
    border-radius: 17px;
  }
  
  .graph {
    margin-top: 35px;
    margin-left: 40px;
  }


.transaction-center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 70px;
}

.transaction-center .text {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.text1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}
.text2{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

.transaction-center .container-transaction {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

 .coins {
  width: 918px;
  height: 79px; 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 17px 33px;
  background: rgba(32, 35, 43, 0.7);
  border-radius: 30px;
}

 .text3 {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.95;
}

 .text4 {
  color: #FFFFFF;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

 .text5 {
  color: #FFFFFF;
  opacity: 0.95;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.text6 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #1970D6;
  opacity: 0.7;
}

 .text7{
  color: #FFFFFF;
  opacity: 0.95;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

 .text8 {
  color: #4AD619;
  opacity: 0.7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}


 .vector {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .trade {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .button-trade a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 18px;
  background: #000000;
  border-radius: 30px;
}


.purple {
  color: #6C1182 ;
  font-weight: 600;
  font-size: 17px
}

.red {
  color: #D61919 ;
  font-weight: 600;
  font-size: 17px
}





.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recent-transactions{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 50px;
}

.sidebar .transaction-container{
  display: flex;
  flex-direction: column;
  width: 412px;
  gap: 32px;
}

.container-crypto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-crypto .sidebar-img {
  display: flex;
  justify-content: center;
}

.container-crypto  .sidebar-text1{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
}
 .container-crypto  .sidebar-text2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.sidebar-text3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #4AD619;
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 23px;
}

.sidebar-text4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px; 
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.recent-assets{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: 20px;
}




 .cards {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 20px;  
}

 .card1 {
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  border-radius: 30px;
  width: 407px;
  height: 174px;
}

 
.card2 {
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
  border-radius: 30px;
  width: 407px;
  height: 174px;
}

 .icon {
  margin-top: 10px;
  margin-left: 25px;
}

 .white1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

 .black1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;  
  display: flex;
  align-items: center;
  color: #000000;
  
}

 .amount {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 21px;
  margin-top: 9px;
  font-size: 27px;
  margin-left: 25px;
}

 .white {
  color: #FFFFFF;
}

 .black {
  color: #000000;
}


@media screen and (max-width: 1700px) {

   .dashboard_btn img {
    width: 30px;
    height: 30px;
  }

  main .left .nav_li {
    padding: 0 5px;
  }

   .nav_li .li_nav img {
    height: 30px;
    width: 30px;
  }

}

@media screen and (max-width: 1680px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-areas: "centre sidebar";
    grid-template-rows: 1fr;
  }
  main .left {
    display: none;
  }
  main .sidebar{
    align-items: center;
  }
}


@media screen and (max-width: 1440px) {
  header {
    margin-top: 45px;
  }
  .user{
    margin-right: 100px;
  }


  header .search0 {
    width: 30%;
  }

  main .graph img {
    width: 97%;
  }

 .text1{
    font-size: 18px;
  }
  .text2 {
    font-size: 18px;
  }

  .coins {
    width: 95%;
  }

  .menu .container{
    margin-left: 300px;
  }

}


@media screen and (max-width: 1259px) {
  header {
    margin-top: 25px;
  }
  .text h1{
    font-size: 30px;
  }

  header .search0 {
    width: 25%;
  }


}

@media screen and (max-width: 1205px) {
  main {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .text2{
    margin-right: 50px;
  }
.sidebar{
  margin-top: 250px;
}

}


@media screen and (max-width: 1060px) {
  header {
    margin-top: 15px;
  }

  header .search0 {
    margin-left: 20px;
  }
  .notification{
    margin-left: 20px;
  }

}

@media screen and (max-width: 950px) {
  header {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .user {
    margin-top: -250px;
    margin-left: 700px;
  }
  header .search0 {
    margin-left: 20px;
    width: 80%;
  }
  .notification{
    margin-left: 200px;
    margin-top: 20px;
  
  }
  .center0{
    margin-top: 100px;
  }
  .sidebar{
    margin-top: 80px;
  }
  

}


@media screen and (max-width: 770px) {

  .menu .container{
    gap: 12px;
    width: 50%;
    padding: 10px;
    margin-left: 300px;
  }


}

@media screen and (max-width: 683px) {

  .menu .container{
    width: 80%;
    margin-top: 20px;
    margin-right: 300px;
  }


}

@media screen and (max-width: 563px) {

  .user{
    margin-right: 350px;
  }
  /* .container-transaction{
    display: flex;
    flex-direction: column;
  }

  .transaction-center{
    display: flex;
    flex-direction: column;
  } */

  .coins{
    gap: 18px;
  }

  .purple{
    font-size: 12px;
  }

  .red{
    font-size: 12px;
  }

  .text3 {
    font-size: 12px;
  }
  .text4 {
    font-size: 12px;
  }
  .text5{
    font-size: 12px;
  }
  
  .text6 {
    font-size: 12px;
  }
  .text7 {
    font-size: 12px;
  }
  .text8 {
    font-size: 12px;
  }
  .button-trade a{
    font-size: 12px;
  }

  .vector{
    width: 10px;
    display: none;
  }

  .sidebar{
    margin-top: 10px;
  }
}


@media screen and (max-width: 398px) {

  .user{
    margin-right: 350px;
  }
   .container-transaction{
   width: 110%;
  }


  .purple{
    font-size: 12px;
  }

  .red{
    font-size: 12px;
  }

  .text3 {
    font-size: 12px;
  }
  .text4 {
    font-size: 12px;
  }
  .text5{
    font-size: 12px;
  }
  
  .text6 {
    font-size: 12px;
  }
  .text7 {
    font-size: 12px;
  }
  .text8 {
    font-size: 12px;
  }
  .button-trade a{
    font-size: 12px;
  }

  .vector{
    width: 10px;
    display: none;
  }

  .sidebar{
    margin-top: 10px;
  }
  .sidebar{
    margin-top: 70px;
  }
}






